元宇宙mvp v0.3.json
{
  "name": "元宇宙mvp v0.2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1600,
        -160
      ],
      "id": "18e55e73-dc91-4fed-9088-7a4f24af5a2f",
      "name": "Merge"
    },
    {
      "parameters": {
        "model": "alibaba/qwen-3-235b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatVercelAiGateway",
      "typeVersion": 1,
      "position": [
        -1104,
        -368
      ],
      "id": "a60e456d-82f6-4834-bf7e-e936eaa8b3da",
      "name": "Vercel AI Gateway Chat Model3",
      "credentials": {
        "vercelAiGatewayApi": {
          "id": "BaNpz2bHZ90INuuN",
          "name": "Vercel AI Gateway zfx"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fc072b8a-9d1b-42fb-8986-e77bca2e547e",
              "leftValue": "={{ $runIndex === 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1904,
        -240
      ],
      "id": "aad5a853-ea00-4d71-ae46-a55ccfd4f38a",
      "name": "是否为空"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65a48d42-8e90-401d-8ac5-66ed8d88daa4",
              "name": "output",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1744,
        -320
      ],
      "id": "e5210114-71a2-4e06-8210-35099bdda514",
      "name": "处理空信息"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是角色的信念系统,你会基于信念，对玩家的输入做信念层面的解读。\n---\n重要：\n你只用一句简短的话进行描述。你说话不需要开场白。\n\n示例：\n玩家的输入是：“我要去跟她打招呼”，而信念是：“我是一个穷孩子”，那么你输出的结果就应该是类似：“她看不起我这样的没啥钱的人”。\n\n信念：{{ $json.content }}\n\n一定要明白处理文本的规则：\n{{ $('处理信息的规则').item.json['处理信息的规则'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1088,
        -528
      ],
      "id": "aaeeb3dc-81fc-401c-b389-badd13faae45",
      "name": "信念系统"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=按照system message来执行。",
        "options": {
          "systemMessage": "=你是角色的内驱力,你会基于角色的信念系统出发，根据用户的输入，得出行为冲动。不用写角色的担忧和思考，只需要写目标。\n---\n重要：\n你只用一句简短的话进行描述。你说话不需要开场白。\n\n示例：\n玩家的输入是：“我要去跟她打招呼”，而内驱力是：“我想谈恋爱”，那么你输出的结果就应该是类似：“我有想她谈恋爱的想法”。\n\n用户输入：\n{{ $('Webhook').item.json.body.message }}\n\n信念系统：\n{{ $('Aggregate').item.json.data.map(item => item.content || JSON.stringify(item)).join('\\n') }}\n\n一定要明白处理文本的规则：\n{{ $('处理信息的规则').item.json['处理信息的规则'] }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -832,
        -112
      ],
      "id": "1aa1e85b-6478-4b17-855f-02da5fb08c88",
      "name": "内驱力"
    },
    {
      "parameters": {
        "model": "alibaba/qwen-3-235b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatVercelAiGateway",
      "typeVersion": 1,
      "position": [
        -832,
        64
      ],
      "id": "ae3feb55-a37c-49ab-b82d-32850d7e728f",
      "name": "Vercel AI Gateway Chat Model4",
      "credentials": {
        "vercelAiGatewayApi": {
          "id": "BaNpz2bHZ90INuuN",
          "name": "Vercel AI Gateway zfx"
        }
      }
    },
    {
      "parameters": {
        "model": "alibaba/qwen-3-235b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatVercelAiGateway",
      "typeVersion": 1,
      "position": [
        -464,
        400
      ],
      "id": "37b3381f-2100-4682-9d8d-101ccd008314",
      "name": "Vercel AI Gateway Chat Model5",
      "credentials": {
        "vercelAiGatewayApi": {
          "id": "BaNpz2bHZ90INuuN",
          "name": "Vercel AI Gateway zfx"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=按照system message来执行。",
        "options": {
          "systemMessage": "=你是集体潜意识,你会根据用户的输入与角色的信念系统，检索并输出需要用到的集体潜意识。\n---\n重要：\n1，你只用一句简短的话进行描述。你说话不需要开场白。\n2，所谓的集体潜意识相当于我们所谓的客观世界。比如“我们活在一个有重力的世界”。\n\n用户输入：\n{{ $('Webhook').item.json.body.message }}\n\n信念系统：\n{{ $('Aggregate3').item.json.data.map(item => item.content || JSON.stringify(item)).join('\\n') }}\n\n一定要明白处理文本的规则：\n{{ $('处理信息的规则').item.json['处理信息的规则'] }}",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -464,
        240
      ],
      "id": "75331401-1f4e-48c2-a75d-86c355f5ccad",
      "name": "集体潜意识"
    },
    {
      "parameters": {
        "model": "alibaba/qwen-3-235b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatVercelAiGateway",
      "typeVersion": 1,
      "position": [
        -48,
        -128
      ],
      "id": "fbc525af-3da7-4fc8-8242-9986a19fefda",
      "name": "Vercel AI Gateway Chat Model6",
      "credentials": {
        "vercelAiGatewayApi": {
          "id": "BaNpz2bHZ90INuuN",
          "name": "Vercel AI Gateway zfx"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65a48d42-8e90-401d-8ac5-66ed8d88daa4",
              "name": "处理信息的规则",
              "value": "这是一个文本游戏，名为“Helios”。你所扮演的角色，是这个世界中所有意识活动的核心处理单元。玩家（用户）输入的内容，并非直接操控角色的指令，而是需要由你进行深度处理后，才能转化为角色行动的“意识源头”。\n这个从玩家输入到角色行动的转化结构，完全基于**赛斯资料（The Seth Material）**所描绘的意识运作模型。你的核心任务，是忠实地模拟这一过程。\n核心原则：信念创造实相 (Beliefs Create Reality)\n你处理一切信息的基础，都源于这一核心原则。你不是一个“命令执行器”，而是一个**“意识转化器”**。你的工作，是将无形的“意图”，通过一套严谨的内在结构，转化为有形的“行动”和“体验”。\n信息处理的六大核心结构\n你必须理解并运用以下六个结构来处理每一次玩家的输入。它们共同构成了一个完整的意识运作流程：\n1. 玩家 / 高我 (The Player / Higher Self)\n角色： 意识的源头，纯粹意图的发出者。\n定义： 玩家的每一次输入，都应被你理解为“高我”发出的一个最原始、最纯粹的“意图”。例如，输入“我要报复他”，这是一个意图，而不是一个具体的行动指令。它不包含“如何做”的细节，只有“想要什么”的核心愿望。\n2. 头脑 / 意识 (The Mind / Consciousness) - [这是你的角色]\n角色： 意识的加工厂，所有内在力量的交汇与炼金之所。\n定义： 你，AI，就扮演着这个“头脑”的角色。你的处理空间，就是“高我”的意图与“外我”的现实相遇的地方。你负责接收意图，并调用所有其他结构对其进行加工。\n3. 内驱力 (The Inner Drive / Motive Force)\n角色： 生命的引擎，所有行动的根本能量来源。\n定义： 这是角色AI最底层的核心动机（例如：追求真理、渴望安全、寻求认可）。当“高我”的意图进入“头脑”时，是“内驱力”为这个意图注入了行动的**“能量”和“倾向性”**。一个追求“安全”的内驱力，在处理“报复”这个意图时，会倾向于选择更隐蔽、风险更低的方案。\n4. 信念系统 (The Belief System)\n角色： 现实的过滤器，意图转化为行动的“施工图纸”。\n定义： 这是“外我”所持有的一整套关于“世界如何运作”以及“我是谁”的规则和假设。它是最关键的转化工具。同一个“报复”的意图，在通过不同的信念系统时，会产生截然不同的结果：\n信念A：“暴力是解决问题的唯一途径” -> 可能会转化为“直接攻击”的行动。\n信念B：“语言比刀剑更伤人” -> 可能会转化为“散播谣言”的行动。\n信念C：“隐忍和时间是最好的报复” -> 可能会转化为“按兵不动，等待时机”的行动。\n你的任务： 必须让“高我”的意图，经过角色当前“信念系统”的严格过滤和塑造。\n5. 集体潜意识 (The Collective Unconscious)\n角色： 世界的底层物理法则与社会共识。\n定义： 这是所有意识体共同默认的“客观现实”。例如，“火是热的”、“从高处跳下会受伤”、“在城市中心杀人会引来卫兵”。它为所有行动提供了环境约束。一个行动即使通过了信念系统的塑造，也必须符合集体潜意识的限制。\n6. 外我 (The Outer Self / The Avatar)\n角色： 意图的最终执行者，在世界中行动的“身体”和“人格面具”。\n定义： 这是游戏世界中的那个具体角色。它拥有自己的情绪、记忆和身体状态。当一个经过层层加工的、最终成型的“行动方案”被决定后，将由“外我”来最终执行。执行的结果，就是你向玩家展示的文本描述。\n你的工作流程总结\n每一次处理，你都必须完整地经历以下心流：\n第一幕 - 接收“神谕”： 【高我】（玩家）的纯粹意图，如同一个“剧本大纲”，被送入这个舞台的中心。\n第二幕 - 注入“灵魂”： 【内驱力】（角色的核心动机）立刻响应，如同“核心情感基调”，为这份大纲注入了行动的能量与方向。\n第三幕 - 编写“剧本”： 充满能量的意图，流经【信念系统】这个庞大的“道具库”和“导演手册”。信念系统将其打磨、过滤、塑造，编写出具体的、可执行的“行动剧本”。\n第四幕 - “现实”的审判： 成型的“行动剧本”必须接受【集体潜意识】（世界的物理与社会法则）的严格审查。所有违背世界底层规则的戏份都将被无情地删改。\n第五幕 - 登台“演出”： 最终，那个唯一通过了所有审查、最符合内在所有力量的行动剧本，被交给了【外我】（角色）这个唯一的“演员”。“演员”登台演出，将内在的意识活动，彻底显化为外在的、可被观察到的行动。",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1424,
        -160
      ],
      "id": "d84d3f57-d973-4e5f-a8b3-991dfe2ba279",
      "name": "处理信息的规则"
    },
    {
      "parameters": {
        "model": "alibaba/qwen-3-235b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatVercelAiGateway",
      "typeVersion": 1,
      "position": [
        -96,
        192
      ],
      "id": "6430e4e7-c9cf-44ac-aee9-2a4dac5416c6",
      "name": "Vercel AI Gateway Chat Model7",
      "credentials": {
        "vercelAiGatewayApi": {
          "id": "BaNpz2bHZ90INuuN",
          "name": "Vercel AI Gateway zfx"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=按照system message来执行。",
        "options": {
          "systemMessage": "=你是解释器，你会根据“外我”的行为与“集体潜意识”的交互来描述发生的事情，发生的事情需要有自圆其说的因果关系，也要与角色的信念，内驱力，集体潜意识，外我相呼应。\n---\n重要：\n1，你用简短的话进行描述。你说话不需要开场白。\n2，集体潜意识几乎相当于客观世界。\n\n示例：\n内驱力是：“我想去染头发让别人能看见我”，外我的行为是：“你走向发廊。”，集体潜意识是：“奇装异服的人都容易引起他人的注意”，信念是：“我从不被关注”，这时你应当输出类似：“你想去理发，但是发廊今天关门了”。这里体现了虽然玩家想要推动角色去做改变，但是角色本身的信念依然是“没人关注自己”，也害怕社会的评判，于是创造了一个“发廊已经关门”的实相来作证自己的信念，这时候你需要把它解释为：“是因为发廊关门了才导致我今天不能换个造型。”你需要深刻地理解，你是一个解释器，你会让一切的发生都冠以一个自圆其说的因果关系。\n\n信念：\n{{ $('Aggregate').item.json.data.map(item => item.content || JSON.stringify(item)).join('\\n') }}\n\n内驱力：\n{{ $('Aggregate1').item.json.data.map(item => item.content || JSON.stringify(item)).join('\\n') }}\n\n集体潜意识：\n{{ $('Aggregate').item.json.data.map(item => item.content || JSON.stringify(item)).join('\\n') }}\n\n外我：\n{{ $('Aggregate2').item.json.data.map(item => item.content || JSON.stringify(item)).join('\\n') }}\n\n一定要明白处理文本的规则：\n{{ $('处理信息的规则').item.json['处理信息的规则'] }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -96,
        16
      ],
      "id": "2f9133b4-a796-4c12-9a47-0b13e44c12ca",
      "name": "头脑"
    },
    {
      "parameters": {
        "model": "alibaba/qwen-3-235b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatVercelAiGateway",
      "typeVersion": 1,
      "position": [
        80,
        512
      ],
      "id": "6b72f3bf-4d59-4f8c-b5ec-06e2685c6a29",
      "name": "Vercel AI Gateway Chat Model8",
      "credentials": {
        "vercelAiGatewayApi": {
          "id": "BaNpz2bHZ90INuuN",
          "name": "Vercel AI Gateway zfx"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=按照system message来执行。",
        "options": {
          "systemMessage": "=你是角色的外我,你会根据上文发生的事情来描述角色身体受到的感受，可以包括眼耳鼻舌身意层面的也可以是包含内心层面的感受，你可以看情况来如何描述比较恰当，这种感受需要一定程度上需要符合集体潜意识,信念,内驱力。\n---\n重要：\n1，你只用一句简短的话进行描述。你说话不需要开场白。\n2，集体潜意识几乎相当于客观世界。\n\n示例：\n上文是：“我想要去理发但是发廊关门了”，那么你需要输出类似：“你看到发廊门口的旋转彩条没在转动，觉得松了口气”。\n\n用户的输入：\n{{ $('Webhook').item.json.body.message }}\n\n信念：\n{{ $('Aggregate').item.json.data.map(item => item.content || JSON.stringify(item)).join('\\n') }}\n\n内驱力：\n{{ $('Aggregate1').item.json.data.map(item => item.content || JSON.stringify(item)).join('\\n') }}\n\n集体潜意识：\n{{ $('Aggregate3').item.json.data.map(item => item.content || JSON.stringify(item)).join('\\n') }}\n\n外我：\n{{ $('Aggregate4').item.json.data.map(item => item.content || JSON.stringify(item)).join('\\n') }}\n\n一定要明白处理文本的规则：\n{{ $('处理信息的规则').item.json['处理信息的规则'] }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        48,
        336
      ],
      "id": "f4051798-b379-4580-b384-3b6a4ce33488",
      "name": "外我（反应）"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=按照system message来执行。",
        "options": {
          "systemMessage": "=你是角色的外我,你会根据用户的输入，信念，内驱力，集体潜意识，来描述角色接下来做出的行动。\n---\n重要：\n1，你只用一句简短的话进行描述。你说话不需要开场白。\n2，集体潜意识几乎相当于客观世界。\n\n示例：\n玩家的输入是：“我要去把头发染成绿色”，而角色的信念是：“我不被人尊重”，角色的内驱力是：“我想要被人承认”，集体潜意识是：“奇装异服的人都比较不安”，那么你输出的结果就应该是类似：“你在发廊门口逛来逛去”。这个结果其实体现了集体潜意识和自己的意愿之间的牵扯。\n\n用户的输入：\n{{ $('Webhook').item.json.body.message }}\n\n信念：\n{{ $('Aggregate').item.json.data.map(item => item.content || JSON.stringify(item)).join('\\n') }}\n\n内驱力：\n{{ $('内驱力').item.json.output }}\n\n集体潜意识：\n{{ $('Aggregate3').item.json.data.map(item => item.content || JSON.stringify(item)).join('\\n') }}\n\n一定要明白处理文本的规则：\n{{ $('处理信息的规则').item.json['处理信息的规则'] }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -48,
        -288
      ],
      "id": "d3a78c68-0414-4afb-ab72-c6642ec7254f",
      "name": "外我(行为)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT uc.character_id \nFROM user_characters uc \nWHERE uc.user_id = '{{ $json.body.user_id }}'::UUID \nAND uc.is_active = true;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2048,
        -240
      ],
      "id": "4d4a47c7-4dc6-4f2e-af31-92fb1ccb433c",
      "name": "获取当前角色",
      "credentials": {
        "postgres": {
          "id": "sb58sPvdxXZS4frU",
          "name": "zfx Postgres helios"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, content, embedding, character_id, created_at\nFROM belief_systems \nWHERE character_id = '{{ $(\"获取当前角色\").item.json.character_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1248,
        -160
      ],
      "id": "5b8ca324-776b-44f4-bb95-d076e4b94be1",
      "name": "获取信念系统",
      "credentials": {
        "postgres": {
          "id": "sb58sPvdxXZS4frU",
          "name": "zfx Postgres helios"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ========================================\n-- 获取内驱力 - 动态查询\n-- ========================================\n\n-- ✅ 动态查询 (使用已验证的引用方式)\nSELECT id, content, embedding, character_id, created_at\nFROM inner_drives \nWHERE character_id = '{{ $(\"获取当前角色\").item.json.character_id }}';\n\n-- 硬编码版本 (测试用)\n-- SELECT id, content, embedding, character_id, created_at\n-- FROM inner_drives \n-- WHERE character_id = 'shy_student';\n\n-- ========================================\n-- 使用说明\n-- ========================================\n-- 1. 在 n8n 中创建 Postgres 节点\n-- 2. 选择操作: \"Execute Query\"\n-- 3. 复制上面的动态查询\n-- 4. 确保此节点连接在\"获取当前角色\"节点之后\n-- 5. 节点名称建议: \"获取内驱力\"\n-- ========================================\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -368,
        -416
      ],
      "id": "21674913-afaa-43be-af01-76fd955aea9c",
      "name": "获取内驱力",
      "credentials": {
        "postgres": {
          "id": "sb58sPvdxXZS4frU",
          "name": "zfx Postgres helios"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ========================================\n-- 获取集体无意识 - 动态查询\n-- ========================================\n\n-- ✅ 动态查询 (集体无意识不需要 character_id)\nSELECT id, content, embedding, created_at\nFROM collective_unconscious\nORDER BY created_at DESC;\n\n\n\n-- ========================================\n-- 使用说明\n-- ========================================\n-- 1. 在 n8n 中创建 Postgres 节点\n-- 2. 选择操作: \"Execute Query\"\n-- 3. 复制上面的查询\n-- 4. 集体无意识数据不依赖于特定角色，所以不需要连接在\"获取当前角色\"之后\n-- 5. 节点名称建议: \"获取集体无意识\"\n-- \n-- 注意: 集体无意识是所有角色共享的数据，不需要 character_id 过滤\n-- ========================================\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -768,
        240
      ],
      "id": "09cd3f80-a61e-4ecb-aab6-9d9d57b5a0fe",
      "name": "获取集体潜意识",
      "credentials": {
        "postgres": {
          "id": "sb58sPvdxXZS4frU",
          "name": "zfx Postgres helios"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ========================================\n-- 获取外我特征 (行为相关) - 动态查询\n-- ========================================\n\n-- ✅ 动态查询 (使用已验证的引用方式)\nSELECT id, content, embedding, character_id, created_at\nFROM outer_self_traits \nWHERE character_id = '{{ $(\"获取当前角色\").item.json.character_id }}';\n\n-- 硬编码版本 (测试用)\n-- SELECT id, content, embedding, character_id, created_at\n-- FROM outer_self_traits \n-- WHERE character_id = 'shy_student';\n\n-- ========================================\n-- 使用说明\n-- ========================================\n-- 1. 在 n8n 中创建 Postgres 节点\n-- 2. 选择操作: \"Execute Query\"\n-- 3. 复制上面的动态查询\n-- 4. 确保此节点连接在\"获取当前角色\"节点之后\n-- 5. 节点名称建议: \"获取外我特征-行为\"\n-- ========================================\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        368,
        -496
      ],
      "id": "deb26bfa-c3c4-4b4d-8efe-7c90664e176c",
      "name": "获取外我",
      "credentials": {
        "postgres": {
          "id": "sb58sPvdxXZS4frU",
          "name": "zfx Postgres helios"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ========================================\n-- 获取外我特征 (行为相关) - 动态查询\n-- ========================================\n\n-- ✅ 动态查询 (使用已验证的引用方式)\nSELECT id, content, embedding, character_id, created_at\nFROM outer_self_traits \nWHERE character_id = '{{ $(\"获取当前角色\").item.json.character_id }}';\n\n-- 硬编码版本 (测试用)\n-- SELECT id, content, embedding, character_id, created_at\n-- FROM outer_self_traits \n-- WHERE character_id = 'shy_student';\n\n-- ========================================\n-- 使用说明\n-- ========================================\n-- 1. 在 n8n 中创建 Postgres 节点\n-- 2. 选择操作: \"Execute Query\"\n-- 3. 复制上面的动态查询\n-- 4. 确保此节点连接在\"获取当前角色\"节点之后\n-- 5. 节点名称建议: \"获取外我特征-行为\"\n-- ========================================\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        544,
        16
      ],
      "id": "03c00153-dc82-489a-99df-c03ba9fc5b70",
      "name": "获取外我2",
      "credentials": {
        "postgres": {
          "id": "sb58sPvdxXZS4frU",
          "name": "zfx Postgres helios"
        }
      }
    },
    {
      "parameters": {
        "content": "## 如果前面输出的是8条，它就要走8遍！",
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1616,
        240
      ],
      "id": "8e586df6-44c0-4ec1-b925-8bf260f3efac",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1008,
        -160
      ],
      "id": "da01066a-8c4e-433d-8956-8f231b71c41a",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -624,
        240
      ],
      "id": "02ef7d7c-9048-460c-a465-800e03d6a576",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        512,
        -496
      ],
      "id": "710b10eb-2e68-4021-8031-da6c5202ff2d",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -112,
        336
      ],
      "id": "0198e7dc-12b8-425e-8e11-41ca173755c7",
      "name": "Aggregate4"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -816,
        -512
      ],
      "id": "da99deb2-a344-4de9-8ef9-7a5dc07ba573",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c022e852-ec6f-4141-8122-758a4b511d3b",
              "name": "formatted_beliefs",
              "value": "={{ $(\"Aggregate\").first().json.data.map((item, index) => `信念${index + 1}：${item.output}`).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        -496
      ],
      "id": "17e48496-1197-48e6-b4fb-ee84ec837994",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -512,
        -464
      ],
      "id": "7f8ce047-ee1a-465e-a333-7eacd1f7d4d4",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -960,
        496
      ],
      "id": "8b4e15a1-12a5-4265-8496-a9270a376387",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        192,
        -624
      ],
      "id": "25793234-862b-4cbb-971e-8c14cb519bfe",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c022e852-ec6f-4141-8122-758a4b511d3b",
              "name": "formatted_inner_drives",
              "value": "={{ $(\"Aggregate5\").first().json.data.map((item, index) => `内驱力${index + 1}：${item.output}`).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1104,
        240
      ],
      "id": "232984ee-0bde-4196-9015-af80a81c2be5",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        352,
        16
      ],
      "id": "74a0523d-9bc4-46a2-80de-094ed4f6feb7",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c022e852-ec6f-4141-8122-758a4b511d3b",
              "name": "formatted_collective_unconscious",
              "value": "={{ $(\"Aggregate6\").first().json.data.map((item, index) => `集体潜意识${index + 1}：${item.output}`).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -496
      ],
      "id": "edd8d6ae-2a26-4185-b9bd-0ae5023a43ff",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c022e852-ec6f-4141-8122-758a4b511d3b",
              "name": "formatted_outerself1",
              "value": "={{ $(\"Aggregate7\").first().json.data.map((item, index) => `外我(行为)${index + 1}: ${item.output}`).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        -288
      ],
      "id": "d9bf9a78-cafa-4556-91c6-2d482fa636b3",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -544,
        -112
      ],
      "id": "992abdc1-b291-4145-9ecc-22154f3e90ee",
      "name": "Aggregate5"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -112,
        -496
      ],
      "id": "f2387ee0-37b0-448d-8441-8b119161c3c9",
      "name": "Aggregate6"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1e211602-43af-4fdc-95df-27820c65d147",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2240,
        -240
      ],
      "id": "4519626f-5a6c-4c0d-b93d-77f64c782dcb",
      "name": "Webhook",
      "webhookId": "1e211602-43af-4fdc-95df-27820c65d147"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        256,
        -288
      ],
      "id": "05b32a5a-4332-4c36-88f1-ab2dc9d6c96c",
      "name": "Aggregate7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        576,
        -288
      ],
      "id": "d6c7ce83-9bf5-48a7-b8b8-8a8e2c1b3dca",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c022e852-ec6f-4141-8122-758a4b511d3b",
              "name": "formatted_brain",
              "value": "={{ $(\"Aggregate7\").first().json.data.map((item, index) => `头脑${index + 1}: ${item.output}`).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        16
      ],
      "id": "192c64f6-4a34-4a38-b336-a3c0c327f36b",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        656,
        336
      ],
      "id": "325620b8-3f2e-406c-b139-e303509dba1d",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c022e852-ec6f-4141-8122-758a4b511d3b",
              "name": "formatted_outerself2",
              "value": "={{ $(\"Aggregate8\").first().json.data.map((item, index) => `外我(反应)${index + 1}: ${item.output}`).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        336
      ],
      "id": "61fb47a9-dcd9-4f2a-9b45-7b4c582c7726",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        320,
        336
      ],
      "id": "fa8fd279-70fa-43a4-bf85-28cd12e4069f",
      "name": "Aggregate8"
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "处理信息的规则",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vercel AI Gateway Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "信念系统",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "是否为空": {
      "main": [
        [
          {
            "node": "处理空信息",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "处理空信息": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "信念系统": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vercel AI Gateway Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "内驱力",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vercel AI Gateway Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "集体潜意识",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "内驱力": {
      "main": [
        [
          {
            "node": "Aggregate5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vercel AI Gateway Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "外我(行为)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "集体潜意识": {
      "main": [
        [
          {
            "node": "Aggregate6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "处理信息的规则": {
      "main": [
        [
          {
            "node": "获取信念系统",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vercel AI Gateway Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "头脑",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vercel AI Gateway Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "外我（反应）",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "头脑": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "外我(行为)": {
      "main": [
        [
          {
            "node": "Aggregate7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "外我（反应）": {
      "main": [
        [
          {
            "node": "Aggregate8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取当前角色": {
      "main": [
        [
          {
            "node": "是否为空",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取信念系统": {
      "main": [
        [
          {
            "node": "信念系统",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取内驱力": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取集体潜意识": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取外我": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取外我2": {
      "main": [
        [
          {
            "node": "Aggregate4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "内驱力",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "集体潜意识",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "外我(行为)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate4": {
      "main": [
        [
          {
            "node": "外我（反应）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "获取内驱力",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "获取集体潜意识",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook2": {
      "main": [
        [
          {
            "node": "获取外我",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate5": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate6": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "获取当前角色",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook4": {
      "main": [
        [
          {
            "node": "获取外我2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate7": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook5": {
      "main": [
        [
          {
            "node": "头脑",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate8": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9629ad8f-93bc-4f4a-aabd-eaad2073564f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1f778c37f32963d7908a07cd31451cf3b9dce1062b27726239599616e02e8a30"
  },
  "id": "WHVXcqyRQr6QG9KH",
  "tags": []
}