n8n-prototypes/workflow_A_catalyst_injection.json
{
  "name": "认知失调催化剂",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "10543282-af7a-451b-88a0-94dd3ca65145",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"event_id\": \"evt_12345\",\n  \"type\": \"catalyst.dissonance\",\n  \"ts\": \"2025-08-11T00:02:03Z\",\n  \"actor\": {\n    \"id\": \"director\",\n    \"role\": \"director\"\n  },\n  \"scene_id\": \"S_001\",\n  \"priority\": 0.8,\n  \"payload\": {\n    \"kind\": \"text\",\n    \"data\": {\n      \"prompt\": \"同行A引用未验证传言挑战你的计划\"\n    }\n  },\n  \"causal\": {\n    \"trace_id\": \"T-ABC-789\",\n    \"parent_event_id\": null\n  },\n  \"routing\": {\n    \"channels\": [\n      \"scene:S_001\"\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "ed9bf761-c146-4079-9f8e-fdee906b4539",
      "name": "创建'认知失调'事件"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.aifunbox.com/webhook-test/a69ccaf9-8ead-4625-b24f-67b4c4c2cfa7",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        0
      ],
      "id": "048defe9-8aac-4de1-9681-42fc7a4eb5be",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "创建'认知失调'事件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "创建'认知失调'事件": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6b6824cc-2b3b-4008-9d21-7a3f0963e057",
  "meta": {
    "instanceId": "1f778c37f32963d7908a07cd31451cf3b9dce1062b27726239599616e02e8a30"
  },
  "id": "yymw1tHzmViupNup",
  "tags": []
}